/* Палітра кольорів */
/* основний колір тексту #212121; */
/* додатковий колір тексту #757575; */
/* акцент #2196F3; */
/* background-header: #F5F4FA; */
/* background-efect: #2F303A; */
/* line-header: #ECECEC; */
/* box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15)
/* фон #FFFFFF; */
/* фон кнопок фільтрів #F5F4FA; */
/* background-box #FFFFFF; */
/* border-color #EEEEEE; */
/* фон футора #2F303A; */
/* footer-text rgba(255, 255, 255, 0.6); */

:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color-text: #ffffff;
  --background-header: #ffffff;
  --background-efect: #2F303A;
  --background-ourteam-color: #F5F4FA;
  --line-header: #ececec;
  --background-buttom: #f5f4fa;
  --background-buttom-accent: #2196f3;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
  --background-color: #ffffff;
  --background-box: #ffffff;
  --border-color: #eeeeee;
  --footerbackground-color: #2f303a;
  --footer-text: rgba(255, 255, 255, 0.6);
  --footer-text-color: #FFFFFF;
}

/* * {
  margin: 0;
  padding: 0;
} */

body {
  position: relative;
  width: 1600px;
  height: 2349px;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Raleway', sans-serif;
  letter-spacing: 0.03em;
}
.page-header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: var(--background-header);
}
/* логотип WebStudio */
.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.logoweb {
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}
/* навігація Студия */
.site{  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;}
.nav1 {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.nav1:hover,
:focus {
  color: var(--accent-color);
}
/* навігація Портфоліо */
.nav2 {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
}
.nav2:hover,
:focus {
  color: var(--accent-color);
}
/* навігація Контакти */
.nav3 {
position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;
}
.nav3:hover,
:focus {
  color: var(--accent-color);
}
/* мейл і тел */
.autor{ 
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.navm {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
}
.navm:hover,
:focus {
  color: var(--accent-color);
}

.navt {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
}
.navt:hover,
:focus {
  color: var(--accent-color);
}
/* ефективне рішення */
.efect {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background-color: var(--background-efect);
}

.texth1{ 
  /* position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px; */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color-text);
}

/* кнопка */
.button{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  color: var(--accent-color-text);
  background: var(--background-buttom-accent);
}
.button.primary{color:var(--primary-text-color);
  background-color: var(--background-buttom);  
}
/* особливості */
.title{font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}
.vnim {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
}
.punkt {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
}
.plan {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 815px;
  top: 774px;
}
.tech {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 774px;
}
.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.p1{
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
}
.p2{
  position: absolute;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;
}

.p3{
  position: absolute;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;
}

.p4{
  position: absolute;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;}

/* чим ми займаємося */
.chem{
  position: absolute;
  width: 376px;
  height: 42px;
  left: 612px;
  top: 969px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* наша команда */
.ourteam{
/* position: absolute; */
width: 1600px;
height: 648px;
left: 0px;
top: 1449px;
background: var(--background-ourteam-color);
}
.team{
/* position: absolute; */
width: 264px;
height: 42px;
left: 668px;
top: 1543px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.comand{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.12;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.name1 {
position: absolute;
width: 151px;
height: 19px;
left: 275px;
top: 1925px;
}
.name2{
position: absolute;
width: 109px;
height: 19px;
left: 596px;
top: 1925px;
}
.name3{
position: absolute;
width: 137px;
height: 19px;
left: 882px;
top: 1925px;
}
.name4{
position: absolute;
width: 134px;
height: 19px;
left: 1183px;
top: 1925px;
}

.item{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-text-color);
}
.team1{
position: absolute;
width: 130px;
height: 19px;
left: 285px;
top: 1954px;
}
.team2{
position: absolute;
width: 147px;
height: 19px;
left: 577px;
top: 1954px;
}
.team3{
position: absolute;
width: 76px;
height: 19px;
left: 912px;
top: 1954px;
}
.team4{
position: absolute;
width: 87px;
height: 19px;
left: 1207px;
top: 1954px;
}

/* подвал */
.footer{
position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;
background: var(--footerbackground-color);
}
.logof-web{
  color: var(--footer-text-color);
}
.logof{
/* position: absolute; */
width: 145px;
height: 31px;
left: 215px;
top: 2157px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
text-decoration: none;
}
.adress {
/* position: absolute; */
width: 231px;
height: 21px;
left: 215px;
top: 2208px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--footer-text-color);
text-decoration: none;
}
.adress:hover,:focus{color: var(--accent-color);}

.mail {
/* position: absolute; */
width: 231px;
height: 21px;
left: 215px;
top: 2238px;
color: var(--footer-text);
text-decoration: none;
}
.tel {
/* position: absolute; */
width: 231px;
height: 21px;
left: 215px;
top: 2268px;
color: var(--footer-text);
text-decoration: none;
}