/* Палітра кольорів */
/* основний колір тексту #212121; */
/* додатковий колір тексту #757575; */
/* акцент #2196F3; */
/* background-header: #F5F4FA; */
/* line-header: #ECECEC; */
/* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12); */
/* фон #FFFFFF; */
/* фон кнопок фільтрів #F5F4FA; */
/* background-box #FFFFFF; */
/* border-color #EEEEEE; */
/* фон футора #2F303A; */
/* footer-text rgba(255, 255, 255, 0.6); */

:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --accent-color-text: #ffffff;
  --background-header: #ffffff;
  --line-header: #ececec;
  --background-buttom: #f5f4fa;
  --background-buttom-accent: #2196f3;
  --background-color: #ffffff;
  --background-box: #ffffff;
  --border-color: #eeeeee;
  --footerbackground-color: #2f303a;
  --footer-text: rgba(255, 255, 255, 0.6);
}

body {
  position: relative;
  width: 1600px;
  height: 1880px;
  color: var(--primary-text-color);
  background: var(--background-color);
  font-family: 'Roboto', 'Raleway', sans-serif;
}

.page-header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: var(--background-header);
  border: 1px solid var(--line-header);
}

.list {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}

/* логотип WebStudio */
.logoweb {
  color: var(--primary-text-color);
}
.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

/* навігація Студия */
.site-nav1 {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.site-nav1:hover,
.site-nav1:focus {
  color: var(--accent-color);
}
/* навігація Портфоліо */
.site-nav2 {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.site-nav2:hover,
.site-nav2:focus {
  color: var(--accent-color);
}
/* навігація Контакти */
.site-nav3 {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.site-nav3:hover,
.site-nav3:focus {
  color: var(--accent-color);
}

/* мейл і тел */
.autor-navm {
  /* position: absolute; */
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.autor-navm:hover,
.autor-navm:focus {
  color: var(--accent-color);
}

.autor-navt {
  /* position: absolute; */
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.autor-navt:hover,
.autor-navt:focus {
  color: var(--accent-color);
}

/* фильтр */
.filter {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--background-buttom);
  border-radius: 4px;
}
.vse {
  position: absolute;
  cursor: pointer;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  box-shadow: var(--box-shadow);
}
.vse:hover,
.vse:focus {
  color: var(--accent-color-text);
  background-color: var(--background-buttom-accent);
}
.vse:active {
  color: var(--accent-color-text);
  background-color: var(--background-buttom-accent);
}
.web {
  position: absolute;
  cursor: pointer;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
}
.web:hover {
  color: var(--accent-color-text);
  background-color: var(--background-buttom-accent);
}
.pril {
  position: absolute;
  cursor: pointer;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
}
.pril:hover {
  color: var(--accent-color-text);
  background-color: var(--background-buttom-accent);
}
.diz {
  position: absolute;
  cursor: pointer;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
}
.diz:hover {
  color: var(--accent-color-text);
  background-color: var(--background-buttom-accent);
}
.market {
  position: absolute;
  cursor: pointer;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
}
.market:hover {
  color: var(--accent-color-text);
  background-color: var(--background-buttom-accent);
}

/* Project  */
.section-title1 {
  /* position: absolute; */
  width: 322px;
  height: 36px;
  left: 239px;
  top: 576px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.section-title2 {
  /* position: absolute; */
  width: 322px;
  height: 30px;
  left: 239px;
  top: 616px;
  font-family: 'Roboto';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-title3 {
  /* position: absolute; */
  width: 322px;
  height: 36px;
  left: 639px;
  top: 576px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.section-title4 {
  /* position: absolute; */
  width: 322px;
  height: 30px;
  left: 639px;
  top: 616px;
  font-family: 'Roboto';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-title5 {
  /* position: absolute; */
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 576px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.section-title6 {
  /* position: absolute; */
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 616px;
  font-family: 'Roboto';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-title7 {
  /* position: absolute; */
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1010px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.section-title8 {
  /* position: absolute; */
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1050px;
  font-family: 'Roboto';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-title9 {
  /* position: absolute; */
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1010px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.section-title10 {
  /* position: absolute; */
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1050px;
  font-family: 'Roboto';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-title11 {
  /* position: absolute; */
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1010px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.section-title12 {
  /* position: absolute; */
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1050px;
  font-family: 'Roboto';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-title13 {
  /* position: absolute; */
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1444px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.section-title14 {
  /* position: absolute; */
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1484px;
  font-family: 'Roboto';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-title15 {
  /* position: absolute; */
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1444px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.section-title16 {
  /* position: absolute; */
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1484px;
  font-family: 'Roboto';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-title17 {
  /* position: absolute; */
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1444px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.section-title18 {
  /* position: absolute; */
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1484px;
  font-family: 'Roboto';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.box-techno {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  background: var(--background-box);
  border: 1px solid var(--border-color);
}

.box-poster {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;
  background: var(--background-box);
  border: 1px solid var(--border-color);
}

.box-seafood {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 262px;
  background: var(--background-box);
  border: 1px solid var(--border-color);
}

.box-prime {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 696px;
  background: var(--background-box);
  border: 1px solid var(--border-color);
}

.box-boxes {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;
  background: var(--background-box);
  border: 1px solid var(--border-color);
}

.box-inspir {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 696px;
  background: var(--background-box);
  border: 1px solid var(--border-color);
}

.box-limed {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1130px;
  background: var(--background-box);
  border: 1px solid var(--border-color);
}

.box-lab {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 1130px;
  background: var(--background-box);
  border: 1px solid var(--border-color);
}

.box-grow {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1130px;
  background: var(--background-box);
  border: 1px solid var(--border-color);
}

/* підвал */
.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: var(--footerbackground-color);
}

.logof-web {
  color: var(--accent-color-text);
}
.logof {
  /* position: absolute; */
  width: 145px;
  height: 31px;
  left: 215px;
  top: 1688px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.adress {
  /* position: absolute; */
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1739px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-color-text);
  text-decoration: none;
}

.adressm {
  /* position: absolute; */
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1769px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-text);
  text-decoration: none;
}
.adressm:hover,
.adressm:focus {
  color: var(--accent-color);
}

.adresst {
  /* position: absolute; */
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1769px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-text);
  text-decoration: none;
}
.adresst:hover,
.adresst:focus {
  color: var(--accent-color);
}

.adress:hover,
.adress:focus {
  color: var(--accent-color);
}
